.Container {
  display: flex;
  justify-content: flex-end;
}

header {
  position: fixed;
}

.link {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: #f4f4f4;
  background: #9bb3b6;
  display: inline-block;
  margin-top: 1rem;
  font-family: Arial;
}

.link:hover {
  color: #d8a03f;
}
