.Container {
  display: flex;
  justify-content: flex-end;
}

header {
  position: fixed;
}

.link {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: #f2f1ef;
  background: #698088;
  display: inline-block;
  margin-top: 1rem;
}
